.about-row {
  margin: 0; }

.about-title {
  font-size: 3rem;
  margin: 2rem 0rem 1rem 0rem; }

.text {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 500; }

.text-link-about {
  font-size: 1.25rem; }

@media screen and (min-width: 576px) {
  .about-title {
    font-size: 4rem; } }

@media screen and (min-width: 768px) {
  .about-row {
    margin-left: 6rem;
    margin-right: 6rem; }
  .about-title {
    margin: 2rem 0rem 1rem 3rem; }
  .text {
    margin-left: 3rem;
    font-size: 1.25; }
  .text-link-about {
    font-size: 1.25rem; } }
