.content {
  margin: 2rem auto 4rem auto; }

.block {
  margin-top: 2rem; }

.block-text {
  max-width: 667px; }

.block-title {
  font-size: 1.6rem;
  font-weight: 600; }

@media screen and (min-width: 576px) {
  .content {
    margin: 4rem auto 4rem auto; }
  .block {
    margin-top: 4rem; }
  .block-title {
    font-size: 2rem;
    margin-bottom: 1rem; } }

@media screen and (min-width: 768px) {
  .content {
    margin: 6rem auto 6rem auto; }
  .block {
    margin-top: 5rem; }
  .block-title {
    margin-bottom: 1.25rem; } }

@media screen and (min-width: 1300px) {
  .content {
    margin: 8rem auto 6rem auto; }
  .block {
    margin-top: 6rem; }
  .block-title {
    margin-bottom: 2rem; } }
