.footer {
  color: #3E3E3E;
  font-size: 0.65rem; }

.footer-link {
  margin-left: 3rem; }

@media screen and (min-width: 576px) {
  .footer {
    padding: 4vh 0 16vh 0;
    font-size: 1rem; } }

@media screen and (min-width: 768px) {
  .footer {
    padding: 4vh 0 16vh 0; } }
