html {
  scroll-behavior: smooth; }

body {
  text-align: left;
  font-family: 'Avenir', sans-serif;
  color: #3E3E3E; }

p {
  font-weight: 450; }

a:hover {
  text-decoration: none; }

.title {
  font-size: 3.5rem; }

.link {
  font-weight: 500;
  text-decoration: none;
  color: #545454; }

.link:hover {
  color: #4305F2; }

.text-link {
  margin-left: 0.3rem;
  color: #4305F2;
  font-weight: 600; }

.black {
  color: #000000; }

.light {
  font-weight: 300; }

.italic {
  font-style: italic; }

.container-hero {
  padding: 0; }

.hero {
  max-width: 100%;
  padding: 0; }

.arrow {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
  height: 2rem;
  margin: 2rem 0rem;
  cursor: pointer; }

@media screen and (min-width: 576px) {
  .intro {
    margin: 8rem 0 2rem 0; }
  .title {
    font-size: 4rem; }
  .text-section {
    padding: 0; } }

@media screen and (min-width: 768px) {
  .intro {
    margin: 8rem 0 2rem 0; }
  .title {
    font-size: 3rem; } }

@media screen and (min-width: 1300px) {
  .intro {
    margin: 10rem 0 4rem 0; }
  .text-section {
    width: 100%; } }
