.header {
  min-height: 10vh;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  border-bottom: 2px solid #448483;
  margin-bottom: 9rem; }

.links {
  position: absolute;
  right: 6rem;
  bottom: 0px; }

a {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 10px;
  text-decoration: none;
  color: #448483; }

a:hover {
  color: #4ADAE8;
  text-decoration: none; }

.header-link {
  margin: 0rem 0rem 0rem 4rem; }

.favicon {
  height: 3rem;
  position: absolute;
  left: 8rem;
  margin: 0rem; }
