.header {
  min-height: 10vh;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  border-bottom: 2px solid #8899ab; }

.left-links {
  position: absolute;
  left: 10px;
  bottom: 0px; }

a {
  font-size: 1rem;
  font-weight: 300;
  margin: 10px; }

.favicon {
  height: 40px;
  position: absolute;
  bottom: -3px; }
