.intro {
  margin: 3rem; }

.social-media img {
  height: 1.5rem;
  margin: 0rem 2rem; }

.projects {
  padding: 0;
  overflow: hidden; }

.project img {
  width: 25vw;
  margin-left: -10px; }

@media screen and (min-width: 576px) {
  .social-media img {
    height: 1.5rem;
    margin: 0rem 3rem; }
  .intro {
    margin: 5rem; } }

@media screen and (min-width: 768px) {
  .intro {
    margin: 10rem;
    margin-top: 2rem; } }
