.text {
    margin-left: 3rem;
}

h1 {
    font-size: 4rem;
    margin-top: 6rem;
  }

p {
  font-size: 1.25rem;
}

@media screen and (min-width: 576px) {
  .text-link {
    font-size: 1.25rem;
    margin: 0;
    margin-left: 0.3rem;
  }
}