$dark-grey: #8899ab;
$teal: #6CACAA;

.footer {
  margin-top: 20vh;
  padding: 15vw 3vw;
  color: #fff;
  background: $teal;
}

.footerh2 {
  color: #fff;
  font-size: 1.5rem;
}

p {
  font-size: 1.2rem;
}

@media screen and (min-width: 576px) {
  .footer {
    padding: 1rem;
  }
  .footer-text {
    font-size: 1rem;
    font-weight: 700;
  }
  p {
    font-size: 1.5rem;
    margin-bottom: 0rem;
  }
}
