$dark-grey: #8899ab;
$teal: #448483;

.footer {
  margin-top: 20vh;
  padding: 1rem;
  color: #fff;
  background: $teal;
}

.footerh2 {
  color: #fff;
  font-size: 1.5rem;
}

.footer-text {
  font-size: 1rem;
  font-weight: 600;
}

@media screen and (min-width: 576px) {
  .footer-text {
    font-size: 1rem;
    font-weight: 700;
  }
  
  p {
    margin-bottom: 0rem;
  }
}

@media screen and (min-width: 768px) {
  .footer-text {
    text-align: center;
  }
}
