$teal: #448483;

html {
  scroll-behavior: smooth;
}

body {
  text-align: center;
  font-family: 'Avenir', sans-serif;
}

h1, h2 {
  color: $teal;
}

h1 {
  font-size: 4.5rem;
}

p {
  font-size: 1.2rem;
  font-weight: 300;
}

.block {
  margin-top: 6rem;
}

.paragraph {
  margin: 15vw 5vw;
}

.title {
  font-size: 3.5rem;
}

.light {
  font-weight: 300;
}

.italic {
  font-style: italic;
}

.big-picture {
  max-width: 100%;
}

@media screen and (min-width: 576px) {
  .title {
    font-size: 4rem;
  }
  p {
    font-size: 1.5rem;
  }
  .paragraph {
    margin: 15vw;
  }
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 6rem;
  }
  p {
    font-size: 2rem;
  }
}