$dark-grey: #3E3E3E;
$grey: #545454;
$blue: #4305F2;

html {
  scroll-behavior: smooth;
}

body {
  text-align: left;
  font-family: 'Avenir', sans-serif;
  color: $dark-grey;
}

p {
  font-weight: 450;
}

a:hover {
  text-decoration: none;
}

.title {
  font-size: 3.5rem;
}

.link {
  font-weight: 500;
  text-decoration: none;
  color: $grey;
}

.link:hover {
  color: $blue;
}

.text-link {
  margin-left: 0.3rem;
  color: $blue;
  font-weight: 600;
 }

.black {
  color: #000000;
}

.light {
  font-weight: 300;
}

.italic {
  font-style: italic;
}

.container-hero {
  padding: 0;
}

.hero {
  max-width: 100%;
  padding: 0;
}

.arrow {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
  height: 2rem;
  margin: 2rem 0rem;
  cursor: pointer;
}

@media screen and (min-width: 576px) {

  .title {
    font-size: 4rem;
  }

}

@media screen and (min-width: 768px) {

  .title {
    font-size: 3rem;
  }

}