$teal: #448483;
$bright-teal: #4ADAE8;

.header {
  min-height: 10vh;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  border-bottom: 2px solid $teal;
}

.links {
  position: absolute;
  right: 6rem;
  bottom: 0px;
}

a {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 10px;
  text-decoration: none;
  color: $teal;
}

a:hover {
  color: $bright-teal;
  text-decoration: none;
}

.header-link {
  margin: 0rem 0rem 0rem 4rem;
}


.favicon {
  height: 40px;
  position: absolute;
  bottom: -3px;
  margin-left: -20px;
}
