$teal: #448483;
$bright-teal: #4ADAE8;

.header {
  min-height: 10vh;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin-bottom: 4rem;
}

.links {
  position: absolute;
  right: 2rem;
  bottom: 0px;
}

a {
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  color: $teal;
}

a:hover {
  color: $bright-teal;
  text-decoration: none;
}

.header-link {
  margin: 0rem 0rem 0rem 1rem;
}


.favicon {
  height: 3rem;
  position: absolute;
  left: 2rem;
  margin: 0rem;
}

@media screen and (min-width: 768px) {
  .header {
    margin-bottom: 9rem;
  }

  .favicon {
    left: 8rem;
  }

  .links {
    right: 8rem;
  }

  .header-link {
    margin: 0rem 0rem 0rem 4rem;
  }
}
