$dark-grey: #8899ab;

.intro {
    margin: 8rem;
  }
  
  .social-media {
    img {
      height: 1.5rem;
      margin: 0rem 3rem;
    }
  }

  .projects {
    padding: 0;
    overflow: hidden;
  }

  .project {
    img {
      width: 33.34vw;
      margin-left: -10px;
    }
  }
 
  .footer {
    margin-top: 20vh;
    padding: 5rem;
    color: #fff;
    background: $dark-grey;
    
    p {
      font-size: 1.5rem;
    }
}